#footer {
  padding: 30px 0;
  background: black;
  margin-top: 30px;
}
#footer .content {
  width: 85%;
  margin: auto;
}
#footer a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
#footer p:hover a {
  color: #fca400;
}
#footer i {
  font-size: 2rem;
  color: rebeccapurple;
}
#footer p {
  color: white;
}
